codeGenerationParameters:
  mode: single                    # single | watch
  inputFolder: '../monolith'              # monolith folder
  outputFolder: '../distributed'  # distributed folder
  cleanOutput: true               # delete output folder before?
  generateProjects: false          # generate new npm projects?
  generateDocker: true            # generate docker files for each server?
  ignore:                         # ignore the following folders
     - "node_modules"
  #   - "main*"
  #   - "product.js"
default:
  rabbit:
    url: localhost
    port: 5672
servers:
  - id: alpha
    http:
      url: localhost
      port: 3000
    copyFiles:
      - from: amqplib_package.json    # relative to current path
        to: package.json  
    functions:
      - declarationPattern: 'saveProduct'
        method: http-get
      - declarationPattern: 'saveCustomer'
        method: http-post
  - id: beta
    http:
      url: localhost
      port: 3001
    copyFiles:
      - from: amqplib_package.json    # relative to current path
        to: package.json  
    functions:
    - declarationPattern: split
      callPatterns:
        - 'strUtils.split'
        - 'split'
      method: http-get
      mockResponse: '["hello", "world"]'
    - declarationPattern: log
      method: http-get
  - id: gamma
    copyFiles:
      - from: amqplib_package.json    # relative to current path
        to: package.json  
    http:
      url: localhost
      port: 3002
    functions:
    - declarationPattern: join
      method: http-get
    - declarationPattern: main
      method: http-get